# Virtual environment
venv/
env/
ENV/

# Environment secrets
.env

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# SQLite temp WAL files
*.db-wal
*.db-shm

# OS junk
.DS_Store
Thumbs.db
